.specifics {
  display: flex;
  padding-left: 0;
}

.specifics__list {
  width: 270px;
  margin-right: 30px;
}

.specifics__list:last-child {
  margin-right: 0;
}

.specifics__title {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.specifics__text {
  line-height: 1.71;
  color: $title-color;
}

.specifics__icon {
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}